table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 80px;
}
.mat-card-title {
    color: white;
}

.distancia{
    margin-left: 68rem;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 50%;
  }
  